button {
  background-color: #DD4B4B;
  color: #FEFAE0;
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 24px;
  display: inline-block;
  font-size: 16px
}

input[type=text] {
  background-color: #A8BA73;
  color: #FEFAE0;
  padding: 10px 20px;
  border-radius: 24px;
  border: none;
  font-size: 16px;
}

.instructions {
    font-size: 20px;
    font-weight: bold;
    padding: 200px;
    background-color: #FEFAE0;
}

.instructions-heading {
    text-align: center;
    font-size: 120px;
    font-family: Sniglet;
    margin: 0px;
    padding: 0px;
    color: #DD4B4B;
}

.join {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    font-size: 50px;
    font-family: Sniglet;
    margin: 0px;
    padding: 0px;
    color: #DD4B4B;
}

.join-div {
  flex: 1;
}

.join-image {
  margin-left: 100px;
  width: 500px;
}

.Results {
    text-align: center;
}

.Container {
  display: grid;
  justify-content: center;
  padding: 7px;
}

.Player  {
    font-size:medium;
    padding: 7px;
    background-color: lightsalmon; 
}

.Rematch {
    border-radius: 10px;
    font-size: 20px;
    background-color: pink;  
    font-weight: bold;  
}

.Card--deck {
 margin: 20px;
}

.GamePage {
  height: 700px;
  background-color: #B0BA73;
}

.Card--name {
    font-size: 20px;
}

.Card--image {
  width: 150px;
}

.Card--value {
  font-size: 20px;
}

.Card--setOne{
  display: flex;
}

.Card--setTwo {
  display: flex;
  justify-content: end;
}

.Card--setThree {
  display: flex;
  align-items: end;
}
.Card--setFour {
  display: flex;
  justify-content: end;
  align-items: end;
}
.Card--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 100px;
}
.Card--container>* {
  flex: 1 1 748px;
}
body {
    background-color: #F9FFE9;
  }
  
  .banner {
    background-color: #FFD0C6;
    text-align: center;
    padding: 10px;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* .button {
    background-color: #FFD0C6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
  } */
  
  /* input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  } */
  
  
 
