body {
  margin: 0px;
}

button {
  background-color: #DD4B4B;
  color: #FEFAE0;
  padding: 10px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  display: inline-block;
  margin-top: 15px;
  font-size: 20px;
}

input[type=text] {
  background-color: #A8BA73;
  padding: 10px 20px;
  border-radius: 24px;
  border: none;
  font-size: 16px;
  margin: 10px;
}

::placeholder {
  color: #FEFAE0;
}

.instructions {
    font-size: 20px;
    font-weight: bold;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 150px;
    background-color: #FEFAE0;
}

.instructions-heading {
    text-align: center;
    font-size: 75px;
    font-family: Sniglet;
    margin: 0px;
    padding: 0px;
    color: #DD4B4B;
}

.gameLogo {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 40px;
  margin-bottom: 8px;
  margin-left: 24px;
  color: #DD4B4B;
  font-family: Sniglet;
}

.gamePin {
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
  color: #B0BA73;
  font-family: Sniglet;
  transform: scale(1,1.3);
}

.loadContainer {
  text-align: center;
  margin-top: 200px;
}

.playerRow {
  display: flex;
  flex-direction: row;
  justify-content:center;
}

.loadPlayer {
  text-align: center;
  width: 210px;
  padding: 11px;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
  font-family: Sniglet;
  font-size: 32px;
  background-color: #B0BA73;
  border-radius: 30px;
}

#startBtn {
  padding: 15px;
  margin-top: 70px;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.Link {
  text-decoration: none;
}


.instructions-button {
  display: grid;
  margin: auto;
  margin-top: 75px;
}

.join {
    display: flex;
    flex-direction: horizontal;
    align-items: center;
    font-family: Sniglet;
    margin: 0px;
    padding: 0px;
}

.join-text {
  font-size: 24px;
  font-weight: regular;
  color: #BC6C25;
}

.join-or {
  font-size: 24px;
  font-weight: regular;
  color: #000000;
}

.join-logout {
  background-color: #FEFAE0;
  color: #DD4B4B;
}

.join-div {
  flex: 1;
}

.join-image {
  margin-left: 100px;
  width: 500px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  margin-top: 55px;
  margin-left: 55px;

}

.results {
    text-align: center;
    font-family: Sniglet;
    font-size: 50px;
    color: #DD4B4B;
}

.container {
  display: grid;
  justify-content: center;
}

.player  {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  padding: 0px;
  margin-bottom: 20px;
    font-family: Sniglet;
    font-size: 24px;
    color: black;
    background-color: #B0BA73;
    border-radius: 20px;
}

.player p {
  padding: 0px;
  margin: 0px 20px 0px 20px;
}

.rematch {
  margin: auto;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #B0BA73;
  text-align: center;
  width: 150px;
}

.game--card {
  width: 150px;
  height: 250px;
  margin: 10px;
}

.Card--deck {
 margin: 20px;
}

.GamePage {
  margin: 0px;
  background-color: #B0BA73;
  overflow: auto;
}

.Card--name {
  font-size: 20px;
}

.Card--image {
width: 150px;
}

.Card--value {
  font-size: 20px;
}

.Card--setOne{
  display: flex;
}

.Card--setTwo {
  display: flex;
  justify-content: end;
}

.Card--setThree {
  display: flex;
  align-items: end;
}
.Card--setFour {
  display: flex;
  justify-content: end;
  align-items: end;
}
.Card--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 100px;
}
.Card--container>* {
  flex: 1 1 740px;
}
body {
    background-color: #F9FFE9;
  }
  
  .banner {
    background-color: #FFD0C6;
    text-align: center;
    padding: 10px;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* .button {
    background-color: #FFD0C6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
  } */
  
  /* input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  } */
  
  
 
