.Results {
    text-align: center;
}

.Container {
  display: grid;
  justify-content: center;
  padding: 7px;
}

.Player  {
    font-size:medium;
    padding: 7px;
    background-color: lightsalmon; 
}

.Rematch {
    border-radius: 10px;
    font-size: 20px;
    background-color: pink;  
    font-weight: bold;  
}


body {
    background-color: #F9FFE9;
  }
  
  .banner {
    background-color: #FFD0C6;
    text-align: center;
    padding: 10px;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .button {
    background-color: #FFD0C6;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 10px;
  }
  
  input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
  }
  
  
 
